# Databases

## Redis

redis-cli.exe -h 127.0.0.1 -p 6379

In [ ]:
redis.flushdb() # delete database
redis.flushall() # deleteall  databases

### Connect

In [48]:
from redis import StrictRedis
HOST = 'localhost' 
PASS = ''
PORT = 6379 
DB = 0 
redis = StrictRedis(host=HOST, password=PASS, port=PORT, db=DB)
redis2 = StrictRedis(host=HOST, password=PASS, port=PORT, db=DB +1)

In [53]:
from redis import StrictRedis, ConnectionPool
# TCP ://[:password]@host:port/db
# TCP+SSL://[:password]@host:port/db
# UNIX socket://[:password]@/path/to/socket.sock?db=db
url = 'redis://:@localhost:6379/0'
pool = ConnectionPool.from_url(url)
redis = StrictRedis(connection_pool=pool)

### KEY

In [52]:
redis.set('Animal', 'Cat')
redis.mset({'Name': 'Luis','name':'John','animal':'Dog','nothing': 'NA','age':'20'})
## nx: if not exists
redis.msetnx({'Name': 'Linda','nothing': ''})
print(redis.getset('Animal', "Rabbit"))
# b'Cat'
print(redis.get('Animal'))
# b'Rabbit'
print(redis.mget(['name', 'Name','age']))
# [b'John', b'Luis', b'20']
redis.setrange('name', 3, 'alex') # 3 offset
print(redis.get('name'))
# b'Johalex'
redis.setnx('newname', 'Lucy') # if key not exists
# True
redis.setex('it', 1, 'expires in 1s')
#  True

b'Cat'
b'Rabbit'
[b'John', b'Luis', b'20']
b'Johalex'

True

In [75]:
# ....1s.....
redis.incr('age', 1)
redis.decr('age', 5)
redis.append('name', 'OK')
print(redis.mget(['age', 'name','it']))
# [b'16', b'JohalexOK', None]
print(redis.substr('Animal', 1, 4))
print(redis.getrange('Animal', 1, 4))
# b'abbi'
# b'abbi'
redis.exists('name')
# True
redis.type('name')
# b'string'
redis.keys('n*')
# [b'newname', b'name', b'nothing']
redis.randomkey()
#  b'Animal'
redis.rename('name', 'nickname')
# True
redis.expire('animal', 2) # expires in 2s

[b'16', b'JohalexOK', None]
b'abbi'
b'abbi'

True

In [77]:
# ....2s.....
redis.ttl('animal')
# -2
redis.delete('Animal')
print(redis.mget(['name','nickname', 'animal','Animal']))
# [None, b'JohalexOK', None, None]

redis.move('age', 1) # 2 database name
print(redis1.get('age'))
# b'20'

[b'Johalex', b'JohalexOK', b'Dog', None]
b'20'

### List

In [13]:
redis.rpush('list', 1, 2, 3,4,5)
redis.lpush('list', 0)
redis.rpush('list', 1, 2, 3,4,5)
redis.lpush('list', 0)
length = redis.llen('list')
print(length)
# 12
print(redis.lrange('list', 0, length))
# [b'0', b'0', b'1', b'2', b'3', b'4', b'5', b'1', b'2', b'3', b'4', b'5']
redis.ltrim('list', 1, 5)

12
[b'0', b'0', b'1', b'2', b'3', b'4', b'5', b'1', b'2', b'3', b'4', b'5']

In [18]:
def getList(name):
    length = redis.llen(name)
    return(redis.lrange(name, 0, length))

In [15]:
print(redis.lindex('list', 1))
# b'0'
print(redis.lpop('list'))
# # b'0'
print(redis.rpop('list'))
# b'5'
getList("list")
# [b'0', b'1', b'2', b'3', b'4', b'5', b'1', b'2', b'3', b'4']

b'0'
b'0'
b'5'

In [20]:
redis.lrem('list', 2, 3) # remove double 3
redis.lset('list', 1, 5) # set index number
redis.ltrim('list', 1, 5) # ony keep 2 to 6  elemrnts
getList("list")
# [b'5', b'2', b'4', b'5', b'1']

[b'5', b'2', b'4', b'5', b'1']

In [21]:
print(redis.rpoplpush('list', 'list2')) # move 1 to list2
# b'1'
print(redis.blpop('list'))
# (b'list', b'5')
print(redis.brpop('list'))
# (b'list', b'5')
getList("list")
# [b'2', b'4']

b'1'
(b'list', b'5')
(b'list', b'5')

### Set

In [ ]:
print(redis.sadd('menu', 'dessert', 'Tea', 'Coffee',"Milk","Water","Berberage","Beer"))
print(redis.sadd('menu2', "Berberage","Beer"))
print(redis.srem('menu', 'Drink')) # return index if not exists return 0
print(redis.spop('menu')) # random pop
print(redis.smove('menu', 'menu2', 'Milk'))  # delete Milk from menu move it to menu2
print(redis.scard('menu')) # number of elements in menu
print(redis.smembers('menu')) # show all elements in menu
print(redis.srandmember('menu')) # random element
print(redis.sismember('menu', 'Beer')) # if element Beer in set menu
print(redis.sinter(['menu', 'menu2'])) # intersect
print(redis.sinterstore('inttag', ['menu', 'menu2']))
print(redis.sunion(['menu', 'menu2']))
print(redis.sunionstore('inttag', ['menu', 'menu2']))
print(redis.sdiff(['menu', 'menu2']))
print(redis.sdiffstore('inttag', ['menu', 'menu2']))
# 7
# 2
# 0
# b'dessert'
# True
# 5
# {b'Coffee', b'Beer', b'Berberage', b'Water', b'Tea'}
# b'Coffee'
# True
# {b'Beer', b'Berberage'}
# 2
# {b'Coffee', b'Beer', b'Berberage', b'Milk', b'Water', b'Tea'}
# 6
# {b'Water', b'Coffee', b'Tea'}
# 3

### Sorted Set

In [ ]:
print(redis.zadd('animals', 5, 'Cat', 10, 'Dog',15,'Rabbit',45,'Chicken',100,'lynx',250,'bear'))
print(redis.zrem('animals', 'lynx')) # you delete 1
print(redis.zincrby('animals', 'Cat', -2))   # set 5-2 if Cat  exists otherwise add '-2' Cat
print(redis.zrank('animals', 'Rabbit'))
print(redis.zrevrank('animals', 'Rabbit'))
print(redis.zrevrange('animals', 0, 3))
print(redis.zrangebyscore('animals', 50, 250)) 
print(redis.zcount('animals', 10, 45))
print(redis.zcard('animals'))
print(redis.zremrangebyrank('animals', 0, 0)) # zremrangebyrank(name, min, max)
print(redis.zremrangebyscore('animals', 200, 250))
print(redis.zrangebyscore('animals', 0, 250))
print(redis.zrangebyscore('animals',0, 250,start=0,num=3,withscores=True))
# 6
# 1
# 3.0
# 2
# 2
# [b'bear', b'Chicken', b'Rabbit', b'Dog']
# [b'bear']
# 3
# 5
# 1
# 1
# [(b'Dog', 10.0), (b'Rabbit', 15.0), (b'Chicken', 45.0)]

### Hash

In [ ]:
print(redis.hset('exotic_fruits', 'pineapple', 2))
print(redis.hsetnx('exotic_fruits', 'kiwi', 5)) # set if not exists
print(redis.hget('exotic_fruits', 'pineapple'))
print(redis.hmget('exotic_fruits', ['papaya', 'pineapple']))
print(redis.hmset('exotic_fruits', {'persimmon': 2, 'litchi': 1,'jujube':7}))
print(redis.hincrby('exotic_fruits', 'papaya', 3)) # hincrby(name, key, amount=1)
print(redis.hexists('exotic_fruits', 'persimmon'))
print(redis.hdel('exotic_fruits', 'persimmon'))
print(redis.hlen('exotic_fruits'))
print(redis.hkeys('exotic_fruits'))
print(redis.hvals('exotic_fruits'))
print(redis.hgetall('exotic_fruits'))
# 1
# 1
# b'2'
# [None, b'2']
# True
# 3
# True
# 1
# 5
# [b'pineapple', b'kiwi', b'litchi', b'jujube', b'papaya']
# [b'2', b'5', b'1', b'7', b'3']
# {b'pineapple': b'2', b'kiwi': b'5', b'litchi': b'1', b'jujube': b'7', b'papaya': b'3'}

### CSV

In [56]:
pool = ConnectionPool(host=HOST, password=PASS, port=PORT, db=3)
redis = StrictRedis(connection_pool=pool)

csv_file = 'D:/Program Files/R-3.4.3/library/knitr/examples/download_count.csv'
with open(csv_file) as f: 
    for line_num, line in enumerate(f, 1): 
        line = line.strip() 
        cache_key = '%s_%s' % ('csv', line_num) 
        redis.lpush(cache_key, line)

## PostgreSQL

In [ ]:
## init.bat
'''
set PGHOME=D:\Bio\Postgre\bin
set PATH=%PGHOME%\bin;%path% 
set PGHOST=localhost 
set PGLIB=%PGHOME%\lib 
set PGDATA=%PGHOME%\data
'''
initdb
pg_ctl start
createuser -h 127.0.0.1 lysql
createdb -h 127.0.0.1 demo
psql -h  127.0.0.1 -U lysql -d demo -p 5432
alter user lysql with password '123456';

## then you can use pgAdmin 4

### Connect

In [2]:
import psycopg2

conn = psycopg2.connect(database="demo", user="lysql", password="123456", host="127.0.0.1", port="5432")

print("Database Opened successfully")

Database Opened successfully

### Creat Table

In [18]:
conn = psycopg2.connect(database="demo", user="lysql", password="123456", host="127.0.0.1", port="5432")
try:  
    cursor = conn.cursor()
    transaction = cursor.execute("""CREATE TABLE STUDENTS(
    ID    INT PRIMARY KEY NOT NULL,
    NAME    TEXT NOT NULL,
    AGE    INT NOT NULL,
    ADDRESS    CHAR(50),
    PHONE    TEXT NOT NULL);
       """)
    print('Successful')
    conn.commit()
except (Exception, psycopg2.DatabaseError) as error:
        print(error)
finally:
        print(conn)
        if conn is not None:
            conn.close()

Successful
<connection object at 0x04424880; dsn: 'user=lysql password=xxx dbname=demo host=127.0.0.1 port=5432', closed: 0>

### Insert Data

In [19]:
conn = psycopg2.connect(database="demo", user="lysql", password="123456", host="127.0.0.1", port="5432")
try:  
    cursor = conn.cursor()
    cursor.execute("INSERT INTO STUDENTS (ID,NAME,AGE,ADDRESS,PHONE) \
          VALUES (1, 'Jessica', 22, 'New York', 5044849748 )");
    cursor.execute("INSERT INTO STUDENTS (ID,NAME,AGE,ADDRESS,PHONE) \
          VALUES (2, 'Lucifier', 15, 'Los Angeles ', 4065248236)");
    cursor.execute("INSERT INTO STUDENTS (ID,NAME,AGE,ADDRESS,PHONE) \
          VALUES (3, 'Antonio', 13, 'Philadelphia ', 5107449508 )");
    cursor.execute("INSERT INTO STUDENTS (ID,NAME,AGE,ADDRESS,PHONE) \
          VALUES (4, 'Athena', 25, 'San Francisco ', 3367254545)");
    conn.commit()
    print ("Records created successfully");
except (Exception, psycopg2.DatabaseError) as error:
        print(error)
finally:
        if conn is not None:
            conn.close()

Records created successfully

In [ ]:
![table](http://oxswstz0r.bkt.clouddn.com/postgresql.PNG)

### Fetch Data

In [24]:
conn = psycopg2.connect(database="demo", user="lysql", password="123456", host="127.0.0.1", port="5432" )
try:  
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM public.students \
ORDER BY id DESC ");
    conn.commit()
    cursor.fetchone()
    cursor.fetchall()
    print ("Records fetched successfully");
except (Exception, psycopg2.DatabaseError) as error:
        print(error)
finally:
        if conn is not None:
            conn.close()

(4,
 'Athena',
 25,
 'San Francisco                                     ',
 '3367254545')

[(3,
  'Antonio',
  13,
  'Philadelphia                                      ',
  '5107449508'),
 (2,
  'Lucifier',
  15,
  'Los Angeles                                       ',
  '4065248236'),
 (1,
  'Jessica',
  22,
  'New York                                          ',
  '5044849748')]

Records fetched successfully

### Update Data

In [29]:
conn = psycopg2.connect(database="demo", user="lysql", password="123456", host="127.0.0.1", port="5432" )
try:  
    cursor = conn.cursor()
    cursor.execute("UPDATE STUDENTS set ADDRESS = 'Seattle' where ID=2 ");
    conn.commit()
    cursor.execute("SELECT *  from STUDENTS ORDER BY ID")
    rows = cursor.fetchall()
    print("Records fetched successfully")
    for row in rows:
       print("ID = ", row[0])
       print( "NAME = ", row[1])
       print( "ADDRESS = ", row[2])
       print( "PHONE = ", row[3], "\n")
except (Exception, psycopg2.DatabaseError) as error:
        print(error)
finally:
        if conn is not None:
            conn.close()

Records fetched successfully
ID =  1
NAME =  Jessica
ADDRESS =  22
PHONE =  New York

ID =  2
NAME =  Lucifier
ADDRESS =  15
PHONE =  Seattle

ID =  3
NAME =  Antonio
ADDRESS =  13
PHONE =  Philadelphia

ID =  4
NAME =  Athena
ADDRESS =  25
PHONE =  San Francisco

### Delete Data

In [32]:
conn = psycopg2.connect(database="demo", user="lysql", password="123456", host="127.0.0.1", port="5432" )
try:  
    cursor = conn.cursor()
    cursor.execute("DELETE  from STUDENTS where ID=2 OR AGE <=20;");
    conn.commit()
    print(cursor.rowcount)
    cursor.execute("SELECT *  from STUDENTS ORDER BY ID")
    rows = cursor.fetchall()
    for row in rows:
       print("ID = ", row[0])
       print( "NAME = ", row[1])
       print( "ADDRESS = ", row[2])
       print( "PHONE = ", row[3], "\n")
except (Exception, psycopg2.DatabaseError) as error:
        print(error)
finally:
        if conn is not None:
            conn.close()

2
ID =  1
NAME =  Jessica
ADDRESS =  22
PHONE =  New York

ID =  4
NAME =  Athena
ADDRESS =  25
PHONE =  San Francisco

## MySQL

### Initialize

In [ ]:
## Windows
mysqld --install
mysqld --initialize --user=root --console
# root@localhost: KoL_gm2zn8gl
net start mysql
mysql -u root -p
set password=password('123456');
exit
Drop database Students;
# net stop mysql

### Creat db

In [96]:
import pymysql
 
db = pymysql.connect(host='localhost',user='root', password='123456', port=3306)
cursor = db.cursor()
cursor.execute('SELECT VERSION()')
data = cursor.fetchone()
print('Database version:', data)
# Database version: ('5.7.21',)
cursor.execute("CREATE DATABASE Students DEFAULT CHARACTER SET utf8")
db.close()

Database version: ('5.7.21',)

### Creat table

In [97]:
db = pymysql.connect(host='localhost', user='root', password='123456', port=3306, db='Students')
cursor = db.cursor()
sql = 'CREATE TABLE IF NOT EXISTS Demo (id VARCHAR(255) NOT NULL, name VARCHAR(255) NOT NULL, age INT NOT NULL, PRIMARY KEY (id))'
cursor.execute(sql)
db.close()

### Insert Data

Using Dict

In [98]:
db = pymysql.connect(host='localhost', user='root',password='123456', port=3306, db='Students')
data = {
    'id': '20143020588',
    'name': 'Jessica',
    'age': 22
}
table = 'Demo'
keys = ', '.join(data.keys())
values = ', '.join(['%s'] * len(data))
sql = 'INSERT INTO {table}({keys}) VALUES ({values})'.format(table=table, keys=keys, values=values)
print(sql)
# INSERT INTO students(id, name, age) VALUES (%s, %s, %s)
try:
   cursor = db.cursor()
   if cursor.execute(sql, tuple(data.values())):
       print('Successful')
       db.commit()
except:
    print('Failed')
    db.rollback()  # ACID
db.close()

INSERT INTO Demo(id, name, age) VALUES (%s, %s, %s)
Successful

### Update Data

In [100]:
db = pymysql.connect(host='localhost', user='root',password='123456', port=3306, db='Students')
data = {
    'id': '20143020200',
    'name': 'Jessica',
    'age': 21
}
table = 'Demo'
keys = ', '.join(data.keys())
values = ', '.join(['%s'] * len(data))
 
sql = 'INSERT INTO {table}({keys}) VALUES ({values}) ON DUPLICATE KEY UPDATE'.format(table=table, keys=keys, values=values)
# INSERT INTO Students(id, name, age) VALUES (%s, %s, %s) ON DUPLICATE KEY UPDATE
update = ','.join([" {key} = %s".format(key=key) for key in data])
sql += update
print(sql)
# INSERT INTO Students(id, name, age) VALUES (%s, %s, %s)
# ON DUPLICATE KEY UPDATE id = %s, name = %s, age = %s
try:
    cursor = db.cursor()
    if cursor.execute(sql, tuple(data.values())*2):
        print('Successful')
        db.commit()
except:
    print('Failed')
    db.rollback()
db.close()
# data = {
#     'id': '20143020201',
#     'name': 'Lucifer',
#     'age': 22
# }

INSERT INTO Demo(id, name, age) VALUES (%s, %s, %s) ON DUPLICATE KEY UPDATE id = %s, name = %s, age = %s
Successful

### Delete Data

In [113]:
db = pymysql.connect(host='localhost', user='root',password='123456', port=3306, db='Students')
table = 'Demo'
condition = 'age < 20'
 
sql = 'DELETE FROM  {table} WHERE {condition}'.format(table=table, condition=condition)
try:
    cursor = db.cursor()
    cursor.execute(sql)
    db.commit()
    print('Successful')
except:
    print('Error')
    db.rollback()
 
db.close()

Successful

### Query Data

In [118]:
db = pymysql.connect(host='localhost', user='root',password='123456', port=3306, db='Students')
table = 'Demo'
condition = 'age > 20'
sql = sql = 'SELECT * FROM  {table} WHERE {condition}'.format(table=table, condition=condition)
 
try:
    cursor = db.cursor()
    cursor.execute(sql)
    print('Count:', cursor.rowcount)
    one = cursor.fetchone()
    print('One:', one)
    results = cursor.fetchall()
    print('Results:', results)
    print('Results Type:', type(results))
    for row in results:
        print(row)
except:
    print('Error')
    
# Count: 3
# One: ('20143020200', 'Jessica', 21)
# Results: (('20143020201', 'Lucifer', 22), ('20143020588', 'Jessica', 22))
# Results Type: <class 'tuple'>
# ('20143020201', 'Lucifer', 22)
# ('20143020588', 'Jessica', 22)

Count: 3
One: ('20143020200', 'Jessica', 21)
Results: (('20143020201', 'Lucifer', 22), ('20143020588', 'Jessica', 22))
Results Type: <class 'tuple'>
('20143020201', 'Lucifer', 22)
('20143020588', 'Jessica', 22)

##  REFERENCES

In [12]:
- https://www.cheatography.com/tasjaevan/cheat-sheets/redis/pdf/
- https://cloud.tencent.com/developer/article/1005553
- http://www.runoob.com/python/python-mysql.html
- http://initd.org/psycopg/docs/
- http://blog.csdn.net/u011304970/article/details/72771775

1